<!-- logout_success.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Logout Success</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Logout Success</h1>
                <p class="card-text">You have been logged out successfully.</p>
                <a href="{% url 'login' %}" class="btn btn-dark">Login Again</a>
            </div>
        </div>
    </div>
</body>
</html>